html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  height: auto;
  width: 100%;
}

.header img {
  display: block;
  margin: auto;
}

.body {
  width: 90%;
}

#key {
  display: block;
  width: 200px;
  margin: auto;
  padding-top: 40px;
}

.login-form {
  padding: 40px;
}

.btn-primary {
  width: 100%;
  background-color: #d07e20;
  border-color: #c6781d;
}

.btn-primary:active,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active:hover {
  background: #c4761d;
  border-color: #c6781d;
}

