html, body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px
}

* {
    outline: none;
}

h4, .empty {
    margin-left: 8px;
}

#content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.trashContainer {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    animation: fade 0.5s;
}

.trash {
    height: 400px;
    width: 300px;
    -webkit-box-shadow: 0px -1px 43px -7px rgba(0, 0, 0, 0.1);
    box-shadow: 5px -1px 43px -7px rgba(0, 0, 0, 0.1);
    background: #fff;
    border: 1px solid #ccc;
}

.trash .list-group {
    height: 100%;
}

.trash .list-group .trashInnerContainer {
    height: 100%;
}

.trashInnerContainer {
    overflow-y: auto;
}

.emptyTrash, .emptyHistory {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    span {
        font-size: 1.2em;
    }

    i {
        font-size: 6em;
        color: #ccc;
        margin-top: 70px;
        position: absolute;
    }
}

.emptyHistory {
    height: 90%;
}

.trash .list-group .list-group-item {
    padding: 24.6px 10px 24.6px 10px;
}

.trash-left {
    margin-left: 10px;
}

.trash-right {
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    font-size: 1.8em;
    color: #E74C3C;
    cursor: pointer;
}

.body {
    display: block;
    flex: 1;
    overflow-y: auto;
}

.changeHeight {
    height: 100%;
}

.list-group {
    margin: 0;
}

.list-group-item {
    border-left: 0px;
    border-right: 0px;
    padding: 24.6px 24.6px;
    display: flex;
    justify-content: space-between;
    letter-spacing: normal;

    img {
        width: 50px;
        height: 50px;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 5%;
    }
}

.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: none;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.history {
    padding: 24.6px 15px 24.6px 15px;
    justify-content: unset;
}

.historyUser {
    color: #d07e20;
}

.historyDescription {
    width: 215px;
    margin-left: auto;
}

.done {
    opacity: 0.3;
}

.checked {
    text-decoration: line-through;
}

.items {
    position: relative;
    max-width: 140px;
    margin: 0;
    word-break: break-word;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.price {
    position: absolute;
    bottom: -24px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.complete {
    width: 40px;
    height: 40px;
    padding: 6px 0px;
    border-radius: 36px;
    font-size: 20px;
    line-height: 1.42857;
    outline: none;
    color: #fff;
    background-color: #fff;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
}

.completed {
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.centered {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.ahPrice {
    margin-left: auto;
    text-align: right;
    width: auto !important;
}

.priceWas {
    display: block;

    &.bonus {
        text-decoration: line-through;
    }
}

.priceNow {
    display: block;

    &.bonus {
        color: #ff7900;
    }
}

.user {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: 8px;
    color: #d07e20;
}

.hoeveelheid {
    width: 20px;
}

.hoeveelheid, .items, .historyDate {
    display: flex;
    align-items: center;
}

.footer {
    display: flex;
    height: 72px;
    width: 100%;
    bottom: 0px;
    padding: 8px;
    background-color: #fff;
}

.addNewItem {
    position: absolute;
    height: 50px;
    width: 300px;
    background: #fff;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 80px;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0px -1px 43px -7px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px -1px 43px -7px rgba(0,0,0,0.1);
    box-shadow: 0px -1px 43px -7px rgba(0,0,0,0.1);
    display: none;
    justify-content: space-between;
    opacity: 1;
    animation: fade 0.5s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.newItem {
    border: none;
    height: 100%;
    width: 70%;
    padding: 10px;
    font-size: 1.2em;
}

.clear {
    border-radius: 50%;
    margin: auto 5px auto auto;
    cursor: pointer;
}

.pulse {
    animation: pulse 2s;
}


@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(183, 185, 188, 0.4);
  }
  50% {
      -webkit-box-shadow: 0 0 0 10px rgba(183, 185, 188, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(183, 185, 188, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(183, 185, 188, 0.4);
    box-shadow: 0 0 0 0 rgba(183, 185, 188, 0.4);
  }
  50% {
      -moz-box-shadow: 0 0 0 10px rgba(183, 185, 188, 0);
      box-shadow: 0 0 0 10px rgba(183, 185, 188, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(183, 185, 188, 0);
      box-shadow: 0 0 0 0 rgba(183, 185, 188, 0);
  }
}

.ahGroupItem {
    position: absolute;
    bottom: 48px;
    width: 100%;
    max-height: 250px;
    overflow-y: auto;
    border: 1px solid #ccc;
}

.ahItem {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    text-align: center;
    cursor: pointer;

    img {
        width: 50px;
        height: 50px;
        margin-left: 0;
        margin-right: auto;
    }
}

.ahDescription {
    width: 160px;
}

.ahItems li:first-child, .popularItems li:first-child {
    padding: 0;
    cursor: default;

    h4 {
        font-size: 1.2em;
    }
}

.quantity {
    height: 100%;
    width: 60px;
    display: block;
    font-size: 1.2em;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-top: none;
    border-bottom: none;
}

.addItemButton {
    background-color: #92b558;
    border-color: #83a24f;
    display: flex;
    border: none;
    border-radius: 0px;
    outline: 0 !important;
}

.addItemIcon {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 10px;
    font-size: 1.4em;
    cursor: pointer;
}

.hideAddItem {
    display: flex;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    outline: none;
}

.btn-circle.btn-xl {
    width: 56px;
    height: 56px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    box-shadow: 0 4px 8px rgba(0,0,0,.25);
    border: 1px solid transparent;
    color: #fff;
}

.reset {
    height: 100%;
    width: 60%;
    border-radius: 0px;
    float: left;
    font-size: 2.5em;
    cursor: pointer;
    outline: none !important;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.delete {
    margin-left: 10px;
    cursor: pointer;
    outline: none !important;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.add {
    background-color: #92b558;
    border-color: #83a24f;
    margin-left: auto;
    cursor: pointer;
    outline: none !important;
    transition:all 0.3s;

    &:active,
    &:hover,
    &:focus {
        background-color: #749046;
        border-color: #667e3d;
    }
}

.footer-buttons {
    font-size: 28px;
}

@media screen and (max-width: 362px) {
    .header span {
        font-size: 20px;
    }
}

/*
// tablet, landscape iPad, lo-res laptops ands desktops //
@media (min-width:801px) {
    body {
        background-color: #f4f7ee;
    }

    #content {
        display: block;
        height: 80%;
        width: 80%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        background: #fff;
    }

    .body {
        height: calc(100% - 70px);
        width: 60%;
        float: right;
    }

    .footer {
        height: calc(100% - 70px);
        width: 40%;
        border: 1px solid black;
    }
}
*/