html, body {
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

* {
    outline: none;
}

h4, .empty {
    margin-left: 8px;
}

#content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.shadow {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
    background: black;
    opacity: 0.6;
    z-index: 2;
}

.messageContainer {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    justify-content: center;
    align-items: center;
}

.message {
    height: 400px;
    width: 250px;
    background-color: #fff;
    -webkit-box-shadow: 0px -1px 43px -7px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px -1px 43px -7px rgba(0,0,0,0.1);
    box-shadow: 0px -1px 43px -7px rgba(0,0,0,0.1);
}

.resetItems {
    display: none;
}

.messageHeader {
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.red {
    background: #d9534f;
}

.circle {
    width: 70px;
    height: 70px;
    padding: 6px 0px;
    border-radius: 40px;
    font-size: 35px;
    line-height: 1.42857;
    color: #fff;
    border: 2px solid #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.title {
    display: block;
    width: fit-content;
    margin: 0 auto;
    padding-top: 30px;
    font-size: 1.1em;
    font-weight: bold;
}

.description {
    display: block;
    width: 200px;
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.confirmationButton {
    width: 75px;
    height: 50px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 0px;
    padding-bottom: 9px;
    cursor: pointer;
}

.trashContainer {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    animation: fade 0.5s;
}

.trash {
    display: none;
    height: 400px;
    width: 300px;
    -webkit-box-shadow: 0px -1px 43px -7px rgba(0, 0, 0, 0.1);
    box-shadow: 5px -1px 43px -7px rgba(0, 0, 0, 0.1);
    background: #fff;
    border: 1px solid #ccc;
}

.trash .list-group {
    height: 100%;
}

.trash .list-group .trashInnerContainer {
    height: 100%;
}

.trashInnerContainer {
    overflow-y: auto;
}

.emptyTrash, .emptyHistory {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    span {
        font-size: 1.2em;
    }

    i {
        font-size: 6em;
        color: #ccc;
        margin-top: 70px;
        position: absolute;
    }
}

.emptyHistory {
    height: 90%;
}

.trash .list-group .list-group-item {
    padding: 24.6px 10px 24.6px 10px;
}

.trash-left {
    margin-left: 10px;
}

.trash-right {
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    font-size: 1.8em;
    color: #E74C3C;
    cursor: pointer;
}

.header {
    height: 70px;
    width: 100%;
    background-color: #92b558;

    span {
        color: #fff;
        font-weight: bold;
        font-size: 22px;
        margin-right: auto;
    }

    .header-container {
        height: 100%;
        padding: 13px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .icons {
        margin-left: 13px;
        cursor: pointer;
        color: #fff;
        font-size: 2.5em;
        float: right;
        margin-top: auto;
        margin-bottom: auto;
    }

    .fa-angle-left {
        float: left;
        margin: 0;
        margin-right: 20px;
    }
}

.body {
    display: block;
    flex: 1;
    overflow-y: auto;
}

.changeHeight {
    height: 100%;
}

.list-group {
    margin: 0;
}

.list-group-item {
    border-left: 0px;
    border-right: 0px;
    padding: 24.6px 24.6px;
    display: flex;
    justify-content: space-between;

    img {
        width: 50px;
        height: 50px;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 15px;
        margin-right: 15px;
    }
}

.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: none;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.history {
    padding: 24.6px 15px 24.6px 15px;
    justify-content: unset;
}

.historyUser {
    color: #d07e20;
}

.historyDescription {
    width: 215px;
    margin-left: auto;
}

.done {
    opacity: 0.3;
}

.checked {
    text-decoration: line-through;
}

.items {
    position: relative;
    max-width: 170px;
    margin: 0;
    word-break: break-word;
    margin-right: auto;
}

.complete {
    width: 40px;
    height: 40px;
    padding: 6px 0px;
    border-radius: 36px;
    font-size: 20px;
    line-height: 1.42857;
    outline: none;
    color: #fff;
    background-color: #fff;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
}

.completed {
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.centered {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.user {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: 8px;
    color: #d07e20;
}

.hoeveelheid {
    width: 20px;
}

.hoeveelheid, .items, .historyDate {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.footer {
    display: flex;
    height: 75px;
    width: 100%;
    bottom: 0px;
    padding: 8px;
    background-color: #fff;
}

.addNewItem {
    position: absolute;
    height: 50px;
    width: 300px;
    background: #fff;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 80px;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0px -1px 43px -7px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px -1px 43px -7px rgba(0,0,0,0.1);
    box-shadow: 0px -1px 43px -7px rgba(0,0,0,0.1);
    display: none;
    justify-content: space-between;
    opacity: 1;
    animation: fade 0.5s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.newItem {
    border: none;
    height: 100%;
    width: 70%;
    padding: 10px;
    font-size: 1.2em;
}

.ahGroupItem {
    display: none;
    position: absolute;
    bottom: 48px;
    width: 100%;
    border: 1px solid #ccc;
    max-height: 250px;
    overflow-y: auto;
}

.ahItem {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;

    img {
        width: 50px;
        height: 50px;
        margin-left: 0;
        margin-right: auto;
    }

    span {
        width: 200px;
    }
}

.popularItems li:first-child {
    padding: 0;

    h4 {
        font-size: 1.2em;
    }
}

.ahItems li:first-child {
    padding: 0;

    h4 {
        font-size: 1.2em;
    }
}

.quantity {
    height: 100%;
    width: 60px;
    display: block;
    font-size: 1.2em;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-top: none;
    border-bottom: none;
}

.addItemButton {
    padding: 5px;
    border: none;
    border-radius: 0px;
    outline: 0 !important;
}

.addItemIcon {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 10px;
    font-size: 1.4em;
    cursor: pointer;
}

.hideAddItem {
    display: flex;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    outline: none;
}

.btn-circle.btn-xl {
    width: 60px;
    height: 60px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset {
    height: 100%;
    width: 60%;
    border-radius: 0px;
    float: left;
    font-size: 2.5em;
    cursor: pointer;
    outline: none !important;
}

.delete {
    margin-left: 10px;
    cursor: pointer;
    outline: none !important;
}

.add {
    margin-left: auto;
    cursor: pointer;
    outline: none !important;
    transition:all 0.3s;
}

@media screen and (max-width: 362px) {
    .header span {
        font-size: 20px;
    }
}