html, body {
    height: auto;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

* {
    outline: none;
}

#content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ribbon {
    position: absolute;
    left: -5px; top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px; height: 75px;
    text-align: right;

    span {
        font-size: 10px;
        font-weight: bold;
        color: #FFF;
        text-transform: uppercase;
        text-align: center;
        line-height: 20px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        width: 100px;
        display: block;
        background: #79A70A;
        background: linear-gradient(#FF7900 0%, #ff7900 100%);
        box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
        position: absolute;
        top: 19px; left: -21px;
        padding-left: 7px;

        &:before {
            content: "";
            position: absolute; left: 0px; top: 100%;
            z-index: -1;
            border-left: 3px solid #ff7900;
            border-right: 3px solid transparent;
            border-bottom: 3px solid transparent;
            border-top: 3px solid #ff7900;
        }

        &:after {
            content: "";
            position: absolute; right: 0px; top: 100%;
            z-index: -1;
            border-left: 3px solid transparent;
            border-right: 3px solid #ff7900;
            border-bottom: 3px solid transparent;
            border-top: 3px solid #ff7900;
        }
    }
}