html, body {
    height: auto;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

* {
    outline: none;
}

#content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerTitle {
    font-weight: 100;
    font-size: 1.5em;
    width: 70%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.userContainer {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: auto;
    max-height: 276px;
    overflow-y: auto;
    margin: 1rem;
    margin-bottom: 20px;
    width: 70%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.swap {
    display: block;
    margin-bottom: 20px;
    font-size: 2.5em;
    padding: 6px;
    background-color: #127ced;
    border-radius: 2px;
    color: #fff;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    cursor: pointer;
}

.list-group-item {
    display: flex;
    align-items: center;
    border: none;
    padding: 8px;
}

.user {
    word-break: break-word;
}

.edit {
    display: flex;
    padding: 8px;
    background-color: #f0ad4e;
    border-radius: 2px;
    color: #fff;
    margin-left: auto;
    cursor: pointer;
}

.trash {
    display: flex;
    padding: 8px;
    background-color: #E74C3C;
    border-radius: 2px;
    color: #fff;
    margin-left: 5px;
    cursor: pointer;

    &.disabled {
        opacity: 0.45;
        cursor: not-allowed;
    }
}

.user-form-add {
    margin-top: 20px;
}

.user-form-add, .user-form-edit {
    width: 70%;
}

.user-form-edit {
    display: none;
}

.group {
    position:relative;
    margin-bottom:45px;
}

.account {
    text-align: center;

    span {
        color: #d07e20;
    }
}

input {
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:100%;
    color: #555;
    border:none;
    border-bottom:1px solid #999;

    &:focus {
        outline:none;
        border-color: #c6781d;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px white inset;
        -webkit-text-fill-color: #555 !important;
        transition: background-color 5000s ease-in-out 0s;
    }

    &:focus ~ label,
    &:valid ~ label {
        top:-20px;
        font-size:14px;
        color:#d07e20;
    }

    &:focus ~ .bar:before,
    &:focus ~ .bar:after {
        width:50%;
    }

    &:focus ~ .highlight {
        -webkit-animation:inputHighlighter 0.3s ease;
        -moz-animation:inputHighlighter 0.3s ease;
        animation:inputHighlighter 0.3s ease;
    }
}

select {
    &:focus {
        outline:none;
        border-color: #c6781d;
    }

    &:focus ~ label,
    &:valid ~ label {
        top:-20px;
        font-size:14px;
        color:#d07e20;
    }

    &:focus ~ .bar:before,
    &:focus ~ .bar:after {
        width:50%;
    }

    &:focus ~ .highlight {
        -webkit-animation:inputHighlighter 0.3s ease;
        -moz-animation:inputHighlighter 0.3s ease;
        animation:inputHighlighter 0.3s ease;
    }
}

label {
    color:#999;
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}

.bar {
    position:relative;
    display:block;
    width:100%;

    &:before,
    &:after {
        content:'';
        height:2px;
        width:0;
        bottom:1px;
        position:absolute;
        background:#d07e20;
        transition:0.2s ease all;
        -moz-transition:0.2s ease all;
        -webkit-transition:0.2s ease all;
    }

    &:before {
        left: 50%;
    }

    &:after {
        right: 50%;
    }
}

.highlight {
    position:absolute;
    height:60%;
    width:100px;
    top:25%;
    left:0;
    pointer-events:none;
    opacity:0.5;
}

.button {
    display: inline-block;
    text-align:center;
    padding: 10px;
    width: 100%;
    color: white;
    transition: 300ms ease-in-out;
    box-shadow: 0px 4px 20px #ccc;
    font-size: 22px;
    background-color: #d07e20;
    border-bottom: 3px solid #a56418;
    margin-bottom: 20px;

    &:focus,
    &:hover {
        color: #fff;
        text-decoration: none;
    }
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0px 2px 20px #777;
    }
}

.alert-danger, .alert-success {
    border-radius: 2px;
}

.role {
    width: 100%;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #999;
    height: 32px;
    margin-top: 5px;
    font-size: 16px;
    color: #555;
}