html, body {
    height: auto;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.layout-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #92b558;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    color: #FFFFFF;
    overflow: hidden;
    left: 0;
    top: 0;
    height: 50px;
    width: 100%;
    z-index: 1;
    font-weight: 500;
    line-height: 64px;
    margin-bottom: 20px;

    span {
        font-size: 20px;
    }
}

.body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-form-add {
    margin-top: 20px;
}

.user-form-add {
    width: 70%;
}

.group {
    position:relative;
    margin-bottom:45px;
}

.account {
    text-align: center;

    span {
        color: #d07e20;
    }
}

input {
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:100%;
    color: #555;
    border:none;
    border-bottom:1px solid #999;

    &:focus {
        outline:none;
        border-color: #c6781d;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px white inset;
        -webkit-text-fill-color: #555 !important;
        transition: background-color 5000s ease-in-out 0s;
    }

    &:focus ~ label,
    &:valid ~ label {
        top:-20px;
        font-size:14px;
        color:#d07e20;
    }

    &:focus ~ .bar:before,
    &:focus ~ .bar:after {
        width:50%;
    }

    &:focus ~ .highlight {
        -webkit-animation:inputHighlighter 0.3s ease;
        -moz-animation:inputHighlighter 0.3s ease;
        animation:inputHighlighter 0.3s ease;
    }
}

select {
    &:focus {
        outline:none;
        border-color: #c6781d;
    }

    &:focus ~ label,
    &:valid ~ label {
        top:-20px;
        font-size:14px;
        color:#d07e20;
    }

    &:focus ~ .bar:before,
    &:focus ~ .bar:after {
        width:50%;
    }

    &:focus ~ .highlight {
        -webkit-animation:inputHighlighter 0.3s ease;
        -moz-animation:inputHighlighter 0.3s ease;
        animation:inputHighlighter 0.3s ease;
    }
}

label {
    color:#999;
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}

.bar {
    position:relative;
    display:block;
    width:100%;

    &:before,
    &:after {
        content:'';
        height:2px;
        width:0;
        bottom:1px;
        position:absolute;
        background:#d07e20;
        transition:0.2s ease all;
        -moz-transition:0.2s ease all;
        -webkit-transition:0.2s ease all;
    }

    &:before {
        left: 50%;
    }

    &:after {
        right: 50%;
    }
}

.highlight {
    position:absolute;
    height:60%;
    width:100px;
    top:25%;
    left:0;
    pointer-events:none;
    opacity:0.5;
}

.button {
    display: inline-block;
    text-align:center;
    padding: 10px;
    width: 100%;
    color: white;
    transition: 300ms ease-in-out;
    box-shadow: 0px 4px 20px #ccc;
    font-size: 22px;
    background-color: #d07e20;
    border-bottom: 3px solid #a56418;
    margin-bottom: 20px;

    &:focus,
    &:hover {
        color: #fff;
        text-decoration: none;
    }
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0px 2px 20px #777;
    }

    @media(max-width: 320px) {
        font-size: 18px;
    }

    @media (min-width : 321px) and (max-width : 360px) {
        font-size: 20px;
    }
}

.alert-danger, .alert-success {
    border-radius: 2px;
}